
@model List<Proveedor_Categoria>


@{
	ViewData["Title"] = "Empleados";
     Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>

</head>


<body>




	<div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Manejar <b>proveedores con categorias</b></h2>
						</div>
						<div class="col-xs-6">
							<a asp-action="GuardarProveedorCategoria" asp-controller="Proveedor_Categoria" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Crear Provee/Categ</span></a>

						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>

							<th>Id proveedor</th>
							<th>Id Categoria</th>
						
						
							<th>Acción</th>
						</tr>
					</thead>

					@foreach (var item in Model)
					{
					
						<tbody>
						<tr>
							


								<th>@item.id_proveedor</th>	
								<th>@item.id_categoria</th>
								
							
								

								  <td>
									<a asp-action="EditarProveedorCategoria" asp-controller="Proveedor_Categoria" class="edit" asp-route-id="@item.id_proveedor"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								
									<a asp-action="EliminarProveedorCategoria" asp-controller="Proveedor_Categoria" class="bdanger" asp-route-id="@item.id_proveedor"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
								</td>
						</tr>
						</tbody>
					}
				</table>
				
			</div>
		</div>
	</div>
	<script>
		$(function () {
			var mensaje = '@TempData["Mensaje"]';
			if (mensaje) {
				toastr.success(mensaje);
			}
		});

		$(function () {
			var mensajeError = '@TempData["MensajeError"]';
			if (mensajeError) {
				toastr.warning(mensajeError);
			}
		});

		$(function () {
			var mensajeInfo = '@TempData["MensajeInfo"]';
			if (mensajeInfo) {
				toastr.info(mensajeInfo);
			}
		});
	</script>
</body>
</html>
